body {
    font-family: sans-serif;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  img {
    max-width: 10%;
  }
  
  main {
    margin: 0 auto;
    width: 900px;
  }
  
  section {
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  